@import 'SassConstants';
$searchIcon: '../../../../assets/search.svg';

.container {
  position: relative;
  font-family: $main-font;

  input {
    display: block;
    width: 345px;
    background: url(#{$searchIcon}) no-repeat 8px 8px;
    background-color: $cloudy;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    outline: 0;
    color: $graphite;
    font-size: 18px;
    padding: 5px 5px 5px 30px;
    margin: 5px 0;

    &:focus {
      outline: 0;
    }

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }
  }

  .clear {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;

    img {
      height: 15px;
    }
  }
}
