@import 'SassConstants';

.container {
  width: 100%;

  .box {
    position: relative;
    text-align: center;
    color: $graphite;
    margin-bottom: 4px;

    .character {
      user-select: none;
      padding: 8px 10px;
      cursor: pointer;

      &.active {
        color: $light-gold;
      }

      &:hover {
        color: $light-gold;
      }
    }

    .tag {
      @extend .character;
      text-transform: capitalize;
      font-family: times, serif;
      font-size: 20px;

      &.b {
        font-weight: 600;
      }
      &.i {
        font-style: italic;
      }
      &.u {
        text-decoration: underline;
      }
    }

    .category {
      @extend .character;
      font-family: $main-font;
      font-size: 18px;
      user-select: none;
    }

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background: $white;

      .heading {
        font-family: $main-font;
        font-size: 18px;
        text-transform: capitalize;
        border-left: 1px solid $cloudy;
        user-select: none;
        padding-left: 10px;
        margin-left: 10px;
      }
    }

    .symbols-box {
      width: 100%;
      position: absolute;
      left: 0;

      .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        // max-height: 200px;
        // overflow-y: scroll;
        background: #fbfbfb;
        border: 1px solid $cloudy;
        margin: auto;
        padding: 0px 5px;

        .character {
          font-size: 21px;
          padding: 4px 8px;
          cursor: pointer;
        }

        .emoji {
          font-size: 17px;
          padding: 4px 6px;
          cursor: pointer;
        }
      }
    }
  }
}
