@import 'SassConstants';

.container {
  font-family: $main-font;

  input {
    display: block;
    height: 39px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    color: $graphite;
    background-color: $white;
    font-size: 14px;
    margin: 10px auto 0 auto;
    padding: 8px 12px;
    width: 240px;

    &:focus {
      outline: 0;
    }
  }
}
