@import 'SassConstants';

.container {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  width: calc(100vw - 200px);
  background-color: $cloudy;
  box-sizing: border-box;
  padding: 40px;

  .heading {
    font-family: $main-font;
    font-size: 20px;
    color: $graphite;
    margin-bottom: 10px;
  }

  .content {
    max-width: 1000px;
  }
}
