@import 'SassConstants';

.footer {
  margin-top: 30px;

  .copyright {
    font-family: $main-font;
    font-size: 16px;
    color: $graphite;
    border-top: 1px solid $cloudy;
    padding-top: 10px;
  }
}
