@import 'SassConstants';

.small-dropdown {
  position: relative;
  display: block;
  font-family: $main-font;
  font-size: 18px;

  select {
    background-color: $cloudy;
    color: $graphite;
    font-size: inherit;
    text-transform: capitalize;
    border: 0;
    border-radius: 5px;
    outline: none;
    margin: 5px 0;
    padding: 5px 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
