@import 'SassConstants';

.container {
  .preview-box {
    min-height: 80px;
    background-color: $white;
    font-family: $main-font;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;

    &.edit {
      width: 220px;
    }

    &.preview {
      width: 260px;
    }
  }
}
