@import 'SassConstants';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (max-width: 730px) {
    flex-wrap: wrap;
  }

  .drop-zone {
    width: 220px;
    background-color: $white;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;

    @media (max-width: 730px) {
      width: 100%;
      margin-bottom: 5px;
    }

    @media (min-width: 731px) {
      width: 220px;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      height: 26px;
      margin-right: 10px;
    }

    p {
      display: inline-block;
      vertical-align: middle;
      font-family: $main-font;
      color: $graphite;
      font-size: 14px;
      user-select: none;
    }

    *:focus {
      outline: none;
    }
  }

  .attachments {
    flex: 0 1 auto;
    background-color: $white;
    padding: 0 20px;

    @media (max-width: 730px) {
      width: 100%;
    }

    @media (min-width: 731px) {
      width: calc(100% - 265px);
    }

    .box {
      font-family: $main-font;
      color: $graphite;
      font-style: italic;
      font-size: 16px;
      padding: 8px 0;

      .item {
        position: relative;
        display: inline-block;
        margin-right: 5px;

        .delete {
          position: absolute;
          top: 0;
          color: $white;
          font-size: 12px;
          border-radius: 5px;
          background-color: #484848;
          padding: 1px 3px;
          cursor: pointer;

          &.indent {
            left: 6px;
          }

          &.left {
            left: 0;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        .pdf {
          height: 50px;
        }

        .image {
          height: 50px;
          border-radius: 3px;
        }
      }

      .no-attachments {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        letter-spacing: 0.045em;
        user-select: none;
        padding: 15px 20px 10px 20px;
      }

      .uploading {
        display: inline-block;
        vertical-align: top;
        padding-top: 10px;
      }
    }
  }
}
