@import 'SassConstants';

.container {
  display: flex;
  max-width: 680px;
  background-color: $white;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;

  @media (max-width: 940px) {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;

    .search {
      width: 100%;
    }

    .order-by {
      margin-top: 10px;
      margin-right: 10px;
    }

    .show-max {
      margin-top: 10px;
    }
  }

  @media (min-width: 941px) {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }

  .label {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $graphite;
  }
}
