@import 'SassConstants';

.container {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  width: calc(100vw - 200px);
  background-color: $cloudy;
  box-sizing: border-box;
  padding: 40px;

  .heading {
    font-family: $main-font;
    font-size: 20px;
    color: $graphite;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .delete-button {
    margin-bottom: 20px;
  }

  .notes {
    width: 100%;
    max-width: 1000px;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;

    @media (max-height: 600px) {
      height: 50vh;
    }

    @media (min-height: 601px) and (max-height: 800px) {
      height: 62vh;
    }

    @media (min-height: 801px) and (max-height: 1200px) {
      height: 73vh;
    }

    @media (min-height: 1201px) {
      height: 77vh;
    }

    // hide scroll bars
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    // Firefox
    scrollbar-width: thin;

    // webkit custom scroll bars
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: $cloudy;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $light-gold;
      border-radius: 6px;
    }

    .no-notes {
      font-family: $main-font;
      font-size: 20px;
      color: $graphite;
      padding-left: 10px;
    }
  }
}
