@import 'SassConstants';

.dropdown {
  position: relative;
  display: block;
  width: 200px;
  height: 31px;
  font-family: $main-font;
  font-size: 18px;

  select {
    width: 200px;
    height: 31px;
    background-color: $cloudy;
    color: $graphite;
    font-size: inherit;
    text-transform: capitalize;
    border: 0;
    border-radius: 5px;
    outline: none;
    margin: 5px 0;
    padding: 2.5px 2.5px 2.5px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
