@import 'SassConstants';

.container {
  display: block;
  font-family: $main-font;

  .button {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border-radius: 4px;
    outline: none;
    padding: 6px 14px;
    cursor: pointer;

    &.full {
      background-color: $light-gold;
      border: 1px solid $light-gold;
      color: $white;
    }

    &.outline {
      background-color: inherit;
      border: 1px solid $light-gold;
      color: $light-gold;
    }

    &:disabled {
      cursor: default;
    }
  }
}
