@import 'SassConstants';

.container {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  width: 200px;
  background-color: $graphite;

  .content {
    .user {
      user-select: none;
      padding: 20px 10px 20px 20px;
      margin-bottom: 40px;
      border-bottom: 1px solid $off-white;

      .user-icon {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        margin-right: 10px;
      }

      .username {
        display: inline-block;
        vertical-align: middle;
        font-family: $main-font;
        font-size: 16px;
        color: $off-white;
      }

      .logout-icon {
        display: inline-block;
        vertical-align: middle;
        height: 18px;
        float: right;
        cursor: pointer;
      }
    }

    .menu-items {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .link {
      height: 40px;
      text-decoration: none;
      user-select: none;
      margin-bottom: 10px;

      img {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        margin-right: 10px;
      }

      .text {
        display: inline-block;
        vertical-align: middle;
        font-family: $main-font;
        font-size: 18px;
        color: $off-white;

        &.active {
          color: $light-gold;
        }
      }

      &:first-child {
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .info {
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
  }
}
