@import 'SassConstants';

.container {
  font-family: $main-font;
  background-color: $graphite;
  width: 100vw;
  height: 100vh;

  .box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid $cloudy;
    border-radius: 5px;
    padding: 0 40px;

    .heading {
      font-size: 18px;
      color: $cloudy;
      text-align: center;
      margin: 5px 0 20px 0;
    }

    .content {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .error {
        height: 15px;
        font-size: 14px;
        color: $cherry;
        align-self: flex-start;
        margin: 8px 0 12px 0;
      }

      .link {
        color: $cloudy;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        cursor: pointer;
      }
    }
  }
}
