@import 'SassConstants';

.container {
  display: inline-block;
  padding: 20px;

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }

  .message {
    display: inline-block;
    vertical-align: middle;
    font-family: $main-font;
    color: $cherry;
    font-size: 16px;
  }
}
