@import 'SassConstants';

.container {
  background-color: $white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  .actions {
    width: 40px;
    float: right;
    display: flex;
    justify-content: space-between;

    img {
      height: 14px;
      cursor: pointer;
    }
  }

  .date {
    font-family: $main-font;
    color: $graphite;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid $cloudy;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .content {
    font-family: $main-font;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .attachments {
    background-color: $white;
    border-top: 1px solid $cloudy;
    padding-top: 10px;
    margin-top: 20px;

    .item {
      margin-right: 5px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.pdf {
        height: 50px;
      }

      &.image {
        height: 60px;
        border-radius: 3px;
      }
    }
  }
}
