@import 'SassConstants';

.container {
  display: inline-block;
  margin-bottom: 20px;

  .page {
    display: inline-block;
    vertical-align: middle;
    font-family: $main-font;
    font-size: 16px;
    color: $light-gold;
    border: 1px solid $light-gold;
    background-color: $white;
    padding: 5px 8px;
    user-select: none;
    cursor: pointer;

    &.active {
      background-color: $light-gold;
      color: $white;
    }

    &.disabled {
      cursor: default;
    }
  }
}
