@import 'SassConstants';

.container {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  width: calc(100vw - 200px);
  background-color: $cloudy;
  box-sizing: border-box;
  padding: 40px;

  .heading {
    font-family: $main-font;
    font-size: 20px;
    color: $graphite;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .box {
    max-width: 800px;
    background-color: $white;
    border-radius: 5px;
    padding: 20px;

    .extra-margin-top {
      margin-top: 30px;
    }

    .sub-heading {
      font-family: $main-font;
      font-size: 18px;
      font-weight: 600;
      color: $graphite;
      margin-bottom: 10px;
    }

    .paragraph {
      font-family: $main-font;
      color: $graphite;
      font-size: 16px;
      letter-spacing: 0.025em;
      line-height: 1.3;
      margin: 10px 0;

      a {
        color: $dodger-blue !important;
        text-decoration: none;

        &:visited,
        &:hover,
        &:active {
          color: inherit;
        }
      }
    }
  }
}
